.heading{
    margin-left: 20px;

}

.card{
    cursor: pointer;
    min-height: 100px;
    max-width: 320px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    background-color: #fff;
    margin: 0px 10px;
}

.cardHeading{
    min-height: 110px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.avatarImg{
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    height: 110px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}


.cardBody{
    display: block;
    padding: 0px 10px;
}

.bodyTitle{
    color: black;
    font-weight: 700;
    margin-bottom: 6px;
}

.bodyDetail{
    color: gray;
    word-break: break-all;
    white-space: pre-wrap;
    margin-top: 0px;
}